.btn {
    text-decoration: none;
    cursor: pointer;
    font: inherit;
    border: 1px solid #9c03c8;
    background-color: #1f1f1f;
    border-radius: 6px;
    color: #9c03c8;
    padding: 0.5rem 1.5rem;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn:active {
    background-color: #1f1f1f;
    border-color: #1f1f1f;
}